---
title: 
layout: default
---

<div class="container-lg gutter-condensed clearfix">
  {% for item in site.data.index %}
    <div class="col-12 col-md-4 float-left mb-3">
      <div class='border p-3 rounded-2'>
        <a class='f2-light' href="/{{ item.tag }}">
          {{ item.tag_name }}
        </a>
        <p class='m-0'>
          {{ item.count }} {% if item.count == 1 %}repository{% else %}repositories{% endif %}
        </p>
      </div>
    </div>
    {% cycle '', '', "<div class='clearfix'></div>" %}
  {% endfor %}
</div>
