---
title: RSpec
layout: default
---

<h1 class='f1-light'>RSpec</h1>

<div class="container-lg gutter-condensed clearfix">
  {% for repo in site.data.repos.rspec %}
    <div class="col-12 col-md-4 float-left mb-3">
      <div class='border pt-3 pl-3 pr-3 rounded-2'>
        <a class='f3-light' href="https://github.com/DannyBen/{{ repo.key }}">
          {{ repo.name }}
        </a>
        <p>{{ repo.summary }}</p>
        <p>
          {% for tag in repo.tags %}
            <a class='text-small text-gray pr-3 pb-1 d-inline-block' href="/{{ tag }}">{{ site.data.tags[tag] }}</a>
          {% endfor %}
        </p>
      </div>
    </div>
    {% cycle '', '', "<div class='clearfix'></div>" %}
  {% endfor %}
</div>