<div class="container-lg gutter-condensed clearfix">
  {% for item in site.data.featured %}
    <div class="col-6 col-md-3 float-left mb-2">
      <div class='p-2'>
        <a title="{{ item.name }} - {{ item.summary }}" href="{{ item.link }}">
          <img src='/assets/{{ item.image  }}'>
        </a>
        
        {% comment %}
        <a class='f2-light' href="{{ item.link }}">
          {{ item.name }}
        </a>
        <p class='m-0'>
          {{ item.summary }}
        </p>
        {% endcomment %}

      </div>
    </div>
  {% endfor %}
</div>
