<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Open Source Projects by @DannyBen</title>
    <meta property="og:title" content="Open Source Projects by @DannyBen" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Comprehensive index of my open source projects on GitHub" />
    <meta property="og:description" content="Comprehensive index of my open source projects on GitHub" />
    <link rel="canonical" href="http://github.dannyben.com/" />
    <meta property="og:url" content="http://github.dannyben.com/" />
    <meta property="og:site_name" content="DannyBen @ GitHub" />
    <script type="application/ld+json">
      {"@type":"WebSite","url":"http://github.dannyben.com/","headline":"Open Source Projects by @DannyBen","name":"my-github","description":"Comprehensive index of my open source projects on GitHub","@context":"http://schema.org"}
    </script>

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="p-5 mb-5" align="center">
      <img src="https://github.com/DannyBen/my-github/raw/master/assets/github.png" width=300>
      <h1>Open Source Projects by <a href="https://github.com/dannyben">@DannyBen</a></h1>
    </div>

    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
